# Archivos temporales de LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi

# Archivos PDF (Opcional: A veces es bueno ignorarlos para no inflar el repo)
# tesis.pdf
# presentacion.pdf

# Archivos de sistema
.DS_Store
Thumbs.db
